.product-list-table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    margin-left: 10px;
}

.table-row {
    border-bottom: 1px solid #ddd;
}

.table-button {
    background-color: #e66947;
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 10px;
}

.table-button:hover {
    opacity: 1;
}

.add-product-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.add-product-button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
    border-radius: 10px;
}

.add-product-button:hover {
    opacity: 1;
}
